# --- CLOUD DATABASE (TiDB Cloud) ---
MYSQL_DATABASE=coupon_management
MYSQL_USER=46kkFoCWPfKm8RH.root
MYSQL_PASSWORD=F2I9tzFlrCX8WHGP
MYSQL_HOST=gateway01.ap-northeast-1.prod.aws.tidbcloud.com
MYSQL_PORT=4000
MYSQL_SSL_MODE=REQUIRED

# --- LOCAL DATABASE (XAMPP: Apache & MySQL) ---
# MYSQL_DATABASE=coupon_management
# MYSQL_USER=root
# MYSQL_PASSWORD=
# MYSQL_HOST=127.0.0.1
# MYSQL_PORT=3306
